		<!--api.js-->
   		<script type="text/javascript" src="/scripts/api.js"></script>
   		
		<!--google map initialized api-->
		    <script type="text/javascript">
				var map;
				function initMap() {
				  map = new google.maps.Map(document.getElementById('map'), {
					center: {lat: 25.04, lng: 121.512},
					zoom: 18
				  });
				}
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIX1VRdrE9bwN5MxzppArVb5aUmQA7okI"
		async defer></script>
		
	</body>
</html>